/* app/globals.css */

@import "tailwindcss";




/* @font-face {
    font-family: 'DMSerif';
    src: url(/public/fonts/DMSerifText-Regular.ttf) format('truetype');
    font-weight: bold ;
    font-style: normal;
} */




body{
    background: #fffae7;
    
}